<div class="container" >
  <div class="top-space"></div>
  <div class="row">
    <article class="col-xs-12 maincontent">
      <header class="page-header">
        <h1 class="page-title text-center">Create Your Profile</h1>
      </header>

<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user_profile.last_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user_profile.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @user_profile.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @user_profile.city %>
</p>

<p>
  <strong>Preferred email:</strong>
  <%= @user_profile.preferred_email %>
</p>

<p>
  <strong>About me:</strong>
  <%= @user_profile.about_me %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @user_profile.dob %>
</p>

    </article>
  </div>
</div>
